body {
	margin: auto;
	max-width: 100ch;
	padding: 1ch 2ch;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media(prefers-color-scheme: dark) {
	body {
		background-color: #5f5f5f;
		color: #ffffff;
		font-size: 1.2em;
	}
	a {
		color: #050505;
		font-size: 1.2em;

	}
}

.pic1{
	position: absolute;
	right: 1rem;
	top: 6rem;
}

.pic2{
	position: absolute;
	left: 1rem;
	top: 6rem;
}

.wrapper{
	width: 50%;
	height: 100vh;
	margin-top: 50px;
}