body {
	margin: auto;
	max-width: 100ch;
	padding: 1ch 2ch;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100vh;
	overflow: hidden;
}

@media(prefers-color-scheme: dark) {
	body {
		background-image: linear-gradient(rgba(0,0,0,.75), grey);
		color: #ffffff;
		font-size: 1.1rem;
	}
	a {
		color: #050505;
		font-size: 1.1rem;

	}
}

.wrapper{
	width: 50%;
	height: 100vh;
	margin-top: 50px;
	z-index: 1000;
}

.textWrapper{
	padding: 30px;
}

h2{
	text-align: center;
	text-decoration: underline;
}

.picContainer{
	position: absolute;
	width: 95vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 500px) {
	.picContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: 400px;
	}
	.textWrapper{
		position: absolute;
		left: 0;
		font-size: 12px;
		width: 100vw;
	}
	.pic1{
		
		width: 20%;
	}

	.pic2{
		margin-bottom: 20px;
		width: 20%;
	}
}

