body {
	margin: auto;
	max-width: 100ch;
	padding: 1ch 2ch;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

@media(prefers-color-scheme: dark) {
	body {
		background-color: #5f5f5f;
		color: #ffffff;
		font-size: 1.2em;
	}
	a {
		color: #050505;
		font-size: 1.2em;

	}
}

.pic{
	position: absolute;
	right: 1rem;
	top: 1rem;
}
